<h2>Contact JMA Shop</h2>
<p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
<email address="Jassar1994@@gmail.com" content="Contact us"></email>